# Local Virtual Environments
.chess/
.envrc

# Continue Folder 
.continue/

# Python Cache and Bytecode
__pycache__/
*.pyc

# Testing and Coverage Caches
.pytest_cache/

# Machine Learning Weights & Large Binaries
# (Prevents pushing massive matrix checkpoints to GitHub)
*.pt

# Data Folder
data/
private/

.vscode/
.DS_Store

checkpoints/
staging/